/* overall document styles */
* {box-sizing: border-box;
}

body {
	font: 100% sans-serif;
	color: #000;
	margin: 0;
}

h1 {
	font: bold 2em "Anton", sans-serif;
	color: #203C20; /* Makes main h1 green of header background*/ 
	letter-spacing: .04em;
}

ul {
	list-style-type: none;}

a {
	text-decoration: none;
	transition: color .3s, background-color .3s ;
} /*turns underline off for all links */

a:link {
	color: #798a79;
}

a:visited {
	color: #798a79;
}

a:focus {
	color: #fff;
}

a:hover {
	color: #fff;
}

a:active {
	color: #228b22;
	background-color: #939393;
}

/* header styles */
#logo {	
	padding: 0;
	padding-left: 1.8em;
	margin: 0;
	text-align: left;
	background-color: #203C20;
	font-size: 2.5em;
 }

nav ul {
	margin: 0;
	padding: 1.8em;
	background-color: #203C20;
	height: 3em;
	font-size: 1.25em;
}


#logo, nav.main-nav li {
	color: #fff;
	float: left;
} /* makes main nav items white font and horizontal*/

header {
	position: fixed; /* Keeps the nav bar up top when scrolling down the page */
	margin: 0;
	width: 100%;
	z-index: 5;
}

a.main-nav {
	display: block;
	padding: 0 .75em; 
}

#co {
	margin-left: 10em; /* Moves "Colorado" away from Logo */
}

/* main body styles */
main {
	position: relative;
	top: 8em;
	text-align: center;
}

/* footer styles */
footer {
	position: relative;
	top: 8em;
}
