/* overall document styles */
* {box-sizing: border-box;
}

body {
	font: 100% sans-serif;
	color: #000;
	margin: 0;
}

h1 {
	font: bold 2em "Anton", sans-serif;
	color: #203C20; /* Makes main h1 green of header background*/ 
	letter-spacing: .04em;
}

ul {
	list-style-type: none;}

a {
	text-decoration: none;
} /*turns underline off for all links */

a:link {
	color: #798a79;
}

a:visited {
	color: #798a79;
}

a:focus {
	color: #fff;
}

a:hover {
	color: #fff;
}

a:active {
	color: #228b22;
	background-color: #939393;
}

/* header styles */
#logo {
	width: 20%;
	height: 1.5em;
	padding: 0;
	padding-left: 2.5em;
	margin-bottom: -2em;
	margin: 0;
	text-align: center;
	background-color: #203C20;
}

nav ul {
	margin: 0;
	padding: 1em;
	width: 100%;
	background-color: #203C20;
	height: 3em;
}

#logo, nav.main-nav li {
	color: #fff;
	float: left;
} /* makes main nav items white font and horizontal*/

header {
	position: fixed; /* Keeps the nav bar up top when scrolling down the page */
	width: 100%;
	margin: 0;
	z-index: 5;
}

a.main-nav {
	display: block;
	padding: 0 0.75em; 
}

#co {
	padding-left: 12.5em; /* Moves "Colorado" away from Logo */
}

/* main body styles */
main {
	position: relative;
	top: 8em;
	text-align: center;
}

/* footer styles */
footer {
	position: relative;
	top: 8em;
}
