/* overall document styles */
* {box-sizing: border-box;
}

body {
	font: 100% sans-serif;
	color: #000;
	margin: 0;
}

h1 {
	font: bold 2em "Anton", sans-serif;
	letter-spacing: .04em;
}

h2 {
	padding-top: 1.5em;
	padding-bottom: 2em;
	font: bold 1.75em "Lato", sans-serif;
	color: #101f10;
}

p {
	font-size: 1em;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	transition: color .1s .1s, background-color .3s .2s, text-shadow .3s .2s;
	text-shadow: 1px 1px #000;
} 

a:link {
	color: #798a79;
}

a:visited {
	color: #798a79;
	text-shadow: none;
}

a:focus {
	color: #fff;
}

a:hover {
	color: #fff;
}

a:active {
	color: #0066ff;
	text-shadow: none;
}

/* header styles */
.nav-grid{
	display: grid;
	grid-template: repeat(2, 2em) / repeat(10, auto);
	grid-auto-rows: auto;
	align-items: center;
	text-align: center;
	background: #203C20;
	min-width: 800px;
}

.logo-text {
	grid-area: 1 / 2 / 3 / 4;
}

#logo {	
	font-size: 2.5em;
	text-shadow: 2px 2px #000;
 }

.col-3{
	grid-area: 2 / 4 / 3 / 5;
}

.col-4{
	grid-area: 2 / 5 / 3 / 6;
}

.col-5{
	grid-area: 2 / 6 / 3 / 7;
}

.col-6{
	grid-area: 2 / 7 / 3 / 8;
}

.col-7{
  grid-area: 2 / 8 / 3 / 9;
}

.col-8{
	grid-area: 2 / 9 / 3 / 10;
}

/* main body styles */
main {
	text-align: center;
}

.main-page-title {
	background-image: url("../images/mtn-views-ban.jpg");
	background-repeat: repeat-x;
	color: #FFF;
	background-size: 100%;
	background-position: top center;
	padding: 2.25em;
	text-shadow: 2px 2px #101f10;
}

.map {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

figure {
	margin: 0;
	padding-bottom: 2em;
}

figcaption {
	font-style: italic;
	font-size: .9em;
	padding-top: .5em;
	padding-left: 1em;
	max-width: 42em;
	margin: 0 auto;
	text-align: left;
	
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.small-img {
	max-width: 800px;
	height: auto;
	margin: 0 auto;
}

.video {
	margin: 2em auto;
}

#left-vid {
	margin-right: 1.5em;
}

#right-vid {
	margin-left: 1.5em;
}

div.bottom-nav {
	background-color: #203C20;
	width: 5.5em;
	padding: 0.5em;
	margin: 1em .75em;
	outline: none;
	border: none;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
}

a.bottom-nav {
	font: 1em sans-serif;
	color: #FFF;
}

a.bottom-nav:focus {
	color: #0066ff;
}

a.bottom-nav:hover {
	color: #0066ff;
}

a.bottom-nav:active {
	color: #0066ff;
	text-shadow: none;
}

/* footer styles */
footer {
	position: relative;
	top: 8em;
	padding-left: 5em;
}

/*Small screen styles*/
@media screen and (max-width: 800px) {
	.nav-grid{
		display: grid;
		grid-template: 2.75em 1.75em 1.75em / repeat(3, auto);
		align-items: center;
		text-align: center;
		background: #203C20;
		max-width: 800px;
		min-width: 200px;
	}

	.logo-text {
		grid-area: 1 / 1 / 2 / 4;
	}

	#logo {	
		font-size: 2em;
		text-shadow: 2px 2px #000;
		padding: .25em;
		margin: 0;
 	}

 	a.main-nav {
 		margin: 1em auto;
 	}

	.col-3{
		grid-area: 2 / 1 / 3 / 2;
	}

	.col-4{
		grid-area: 2 / 2 / 3 / 3;
	}

	.col-5{
		grid-area: 2 / 3 / 3 / 4;
	}

	.col-6{
		grid-area: 3 / 1 / 4 / 2;
	}

	.col-7{
  		grid-area: 3 / 2 / 4 / 3;
	}

	.col-8{
		grid-area: 3 / 3 / 4 / 4;
	}
	
	.main-page-title {
		background-image: none;
		color: #203C20;
		padding: 0;
		text-shadow: 1px 1px #101f10;
	}

	h2 {
		padding-top: .5em;
		padding-bottom: .5em;
		font: bold 1.75em "Lato", sans-serif;
		color: #101f10;
	}
}
