/* overall document styles */
* {box-sizing: border-box;
}

body {
	font: 100% sans-serif;
	color: #000;
	margin: 0;
}

h1 {
	font: bold 2em "Anton", sans-serif;
	letter-spacing: .04em;
}

h2 {
	padding-top: 1.5em;
	padding-bottom: 2em;
	font: bold 1.75em "Lato", sans-serif;
	color: #101f10;
}

p {
	font-size: 1em;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	transition: color .1s .1s, background-color .3s .2s, text-shadow .3s .2s;
	text-shadow: 1px 1px #000;
} 

a:link {
	color: #798a79;
}

a:visited {
	color: #798a79;
	text-shadow: none;
}

a:focus {
	color: #fff;
}

a:hover {
	color: #fff;
}

a:active {
	color: #0066ff;
	text-shadow: none;
}

/* header styles */
.nav-grid{
	display: grid;
	grid-template: repeat(2, 2em) / repeat(10, auto);
	grid-auto-rows: auto;
	align-items: center;
	text-align: center;
	background: #203C20;
	min-width: 800px;
}

.nav-grid-2{
	display: grid;
	grid-template: 2.5em / repeat(10, auto);
	grid-auto-rows: auto;
	align-items: center;
	text-align: center;
	background: #101f10;
	min-width: 800px;
}

.logo-text {
	grid-area: 1 / 2 / 3 / 4;
}

#logo {	
	font-size: 2.5em;
	text-shadow: 2px 2px #000;
 }

.title {
	grid-area: 1 / 2 / 2 / 4;
}

#state {
	color: #fff;
	font: 1.5em "Anton", sans-serif;;
	text-shadow: 2px 2px #000;
	text-align: right;
	padding: 0;
	padding-right: 2.5em;
}

.col-3{
	grid-area: 2 / 4 / 3 / 5;
}

.col-4{
	grid-area: 2 / 5 / 3 / 6;
}

.col-5{
	grid-area: 2 / 6 / 3 / 7;
}

.col-6{
	grid-area: 2 / 7 / 3 / 8;
}

.col-7{
  grid-area: 2 / 8 / 3 / 9;
}

.col-8{
	grid-area: 2 / 9 / 3 / 10;
}


.col-3-2ndNav{
	grid-area: 1 / 4 / 2 / 5;
}

.col-4-2ndNav{
	grid-area: 1 / 5 / 2/ 6;
}

.col-5-2ndNav{
	grid-area: 1 / 6 / 2 / 7;
}

.col-6-2ndNav{
	grid-area: 1 / 7 / 2 / 8;
}

.col-7-2ndNav{
  grid-area: 1 / 8 / 2 / 9;
}

.col-8-2ndNav{
	grid-area: 1 / 9 / 2 / 10;
}


/* main body styles */
main {
	text-align: center;
}

.main-page-title {
	background-image: url("../images/mtn-views-ban.jpg");
	background-repeat: repeat-x;
	color: #FFF;
	background-size: 100%;
	background-position: top center;
	padding: 2.25em;
	text-shadow: 2px 2px #101f10;
}

.map {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

section.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;	
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	grid-auto-rows: auto;
	align-items: center;
	grid-column-gap: 1em;
	grid-row-gap: .2em;
	grid-auto-flow: row;
}

.grid-img-1 {
	grid-area: 1 / 1 / 3 / 2;
	min-width: 500px;
	max-width: 100%;
	height: auto;
}

.grid-img-2 {
	grid-area: 1 / 2 / 2 / 3;
	padding-bottom: 0;
	min-width: 400px;
	max-width: 100%;
	height: auto;
}

.grid-img-3 {
	grid-area: 2 / 2 / 3 / 3;
	min-width: 400px;
	max-width: 100%;
	height: auto;
}


figure {
	margin: 0;
	padding-bottom: 2em;
}

figure.flex-img {
	max-width: 49%;	
	min-width: 400px;
}


figcaption {
	font-style: italic;
	font-size: .9em;
	padding-top: .5em;
	padding-left: 1em;
	max-width: 42em;
	margin: 0 auto;
	text-align: left;
	
}

.long-cap {
	max-width: 46em;
	margin: 1em auto;
	font-style: normal;
	text-align: left;
	padding-bottom: 1em;
	font-size: 1em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.small-img {
	max-width: 800px;
	height: auto;
	margin: 0 auto;
}

.video {
	margin: 2em auto;
}

#left-vid {
	margin-right: 1.5em;
}

#right-vid {
	margin-left: 1.5em;
}

div.bottom-nav {
	background-color: #203C20;
	width: 5.5em;
	padding: 0.5em;
	margin: 1em .75em;
	outline: none;
	border: none;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
}

a.bottom-nav {
	font: 1em sans-serif;
	color: #FFF;
}

a.bottom-nav:focus {
	color: #0066ff;
}

a.bottom-nav:hover {
	color: #0066ff;
}

a.bottom-nav:active {
	color: #0066ff;
	text-shadow: none;
}

/* footer styles */
footer {
	position: relative;
	top: 8em;
	padding-left: 5em;
}

/*Small screen styles*/
@media screen and (max-width: 800px) {
	.nav-grid{
		display: grid;
		grid-template: 2.75em 1.75em 1.75em / repeat(3, auto);
		align-items: center;
		text-align: center;
		background: #203C20;
		max-width: 800px;
		min-width: 200px;
	}

	.logo-text {
		grid-area: 1 / 1 / 2 / 4;
	}

	#logo {	
		font-size: 2em;
		text-shadow: 2px 2px #000;
		padding: .25em;
		margin: 0;
 	}

 	a.main-nav {
 		margin: 1em auto;
 	}

	.col-3{
		grid-area: 2 / 1 / 3 / 2;
	}

	.col-4{
		grid-area: 2 / 2 / 3 / 3;
	}

	.col-5{
		grid-area: 2 / 3 / 3 / 4;
	}

	.col-6{
		grid-area: 3 / 1 / 4 / 2;
	}

	.col-7{
  		grid-area: 3 / 2 / 4 / 3;
	}

	.col-8{
		grid-area: 3 / 3 / 4 / 4;
	}

	.nav-grid-2{
		display: grid;
		grid-template: 2.5em 1.75em 1.75em / repeat(3, auto);
		grid-auto-rows: auto;
		align-items: center;
		text-align: center;
		background: #101f10;
		max-width: 800px;
		min-width: 200px;
	}

	.title {
		grid-area: 1 / 1 / 2 / 4;
	}

	#state {
		color: #fff;
		font: 1.5em "Anton", sans-serif;
		text-shadow: 2px 2px #000;
		text-align: center;
		padding: 0;
	}

	.col-3-2ndNav {
		grid-area: 2 / 1 / 3 / 2;
	}

	.col-4-2ndNav{
		grid-area: 2 / 2 / 3 / 3;
	}

	.col-5-2ndNav{
		grid-area: 2 / 3 / 3 / 4;
	}

	.col-6-2ndNav{
		grid-area: 3 / 1 / 4 / 2;
	}

	.col-7-2ndNav{
	  grid-area: 3 / 2 / 4 / 3;
	}

	.col-8-2ndNav{
		grid-area: 3 / 3 / 4 / 4;
	}

	.main-page-title {
		background-image: none;
		color: #203C20;
		padding: 0;
		text-shadow: 1px 1px #101f10;
	}

	h2 {
		padding-top: .5em;
		padding-bottom: .5em;
		font: bold 1.75em "Lato", sans-serif;
		color: #101f10;
	}


    figure.flex-img img {
		max-width: 100%;
		height: auto;	
		margin: 0 auto;
	} 


	.small-img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

/*hide 2nd Nav destination links when on a destination page using a small screen*/
	.destination-page a#routes, .destination-page a#bc,
	.destination-page a#co, .destination-page a#mt, .destination-page a#ut, .destination-page a#wa{
		display: none;
	}

	.destination-page nav.nav-grid{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto;
		align-items: center;
		text-align: center;
		background: #203C20;
		max-width: 800px;
		min-width: 200px;
	}

	.destination-page h1#logo {	
		font-size: 2em;
		text-shadow: 2px 2px #000;
		padding: 0;
		margin: 0;
	}

/*isaquah phot grid styles for small screens*/
	.photo-grid {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		align-items: center;
		grid-row-gap: 2em;
	}

	.grid-img-1 {
		grid-area: 1 / 1 / 2 / 2;
	}

	.grid-img-2 {
		grid-area: 2 / 1 / 3 / 2;
	}

	.grid-img-3 {
		grid-area: 3 / 1 / 4 / 2;
	}
